---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div id="hero">
                <div>
                    <img src="/assets/images/avatar_transparant.png" />
                </div>
                <div id="whoami" class="mt-5">
                    <h1>Tanner Hildebrand, M. Eng.</h1>
                </div>
                <div id="howami">
                    Enterprise Information Technology and Computer Engineering.
                </div>
            </div>
            <div id="promo">
                <div id="promo-image">
                    <div>
                        Future focused IT Engineering.
                    </div>
                    <!-- <img src="/assets/images/filler.jpeg" /> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 my-5">
            <div class="thesis">Driving enterprise integrations and automations to deliver value across the organization through deliberate, tailored engineering.</div>
        </div>
    </div>
    <div class="row gap-5 gap-md-0 flex-column flex-md-row row-cols-md-3 mt-5">
        <div class="col align-items-stretch d-flex">
            <div id="about-blob" class="main-blob flex-fill">
                <a href="/about">
                    <div>About</div>
                </a>
            </div>
        </div>
        <div class="col align-items-stretch d-flex">
            <div id="privacy-blob" class="main-blob flex-fill">
                <a href="/privacy">
                    <div>Individual Privacy &amp; Security</div>
                </a>
            </div>
        </div>
        <div class="col align-items-stretch d-flex">
            <div id="professionals-blob" class="main-blob flex-fill">
                <a href="/about">
                    <div>Aspiring Professionals</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row my-5" id="creds">

        <!-- CISSP -->
        <div class="col">
            <a href="https://www.credly.com/badges/2f912456-4f27-454f-a5ec-9b8a9ccb5407/public_url">
                <img src="/assets/images/certs/certified-information-systems-security-professional-cissp.png" />
            </a>
        </div>

        <!-- PMP -->
        <div class="col">
            <a href="https://www.credly.com/badges/c4b68e81-2e4c-4cd2-ac64-1c16d6e39090/public_url">
                <img src="/assets/images/certs/project-management-professional-pmp.png" />
            </a>
        </div>
        
        <!-- CASP -->
        <div class="col">
            <a href="https://www.credly.com/badges/1e50d93f-f2fd-493a-9c66-34570c24df52/public_url">
                <img class="comptia" src="/assets/images/certs/comptia-advanced-security-practitioner-casp-ce-certification.png" />
            </a>
        </div>

        <!-- SEC+ -->
        <div class="col">
            <a href="https://www.credly.com/badges/1ca48822-5b4f-4ff6-8638-b77b0be288bd/public_url">
                <img class="comptia" src="/assets/images/certs/comptia-security-ce-certification.png" />
            </a>
        </div>

        <!-- NET+ -->
        <div class="col">
            <a href="https://www.credly.com/badges/d0bd2255-7148-441b-a387-98ebaa05e7d6/public_url">
                <img class="comptia" src="/assets/images/certs/comptia-network-ce-certification.1.png" />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>
            {{ content }}
            </p>
            <p class="my-5 py-5">&nbsp;.</p>
        </div>
    </div>
</div>