---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div id="hero">
                <div>
                    <img src="/assets/images/avatar_transparant.png" />
                </div>
                <div id="whoami">
                    <h1>Tanner Hildebrand, M. Eng.</h1>
                </div>
                <div id="howami">
                    Enterprise Information Technology and Computer Engineering.
                </div>
            </div>
            <div id="promo">
                <div id="promo-image">
                    <div>
                        Future focused IT Engineering.
                    </div>
                    <!-- <img src="/assets/images/filler.jpeg" /> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 my-5">
            <div class="thesis">Driving enterprise integrations and automations to deliver value across the organization through deliberate, tailored engineering.</div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 align-items-stretch d-flex">
            <div id="about-blob" class="main-blob flex-fill">
                <a href="/about">
                    <div>About</div>
                </a>
            </div>
        </div>
        <div class="col-4 align-items-stretch d-flex">
            <div id="privacy-blob" class="main-blob flex-fill">
                <a href="/privacy">
                    <div>Individual Privacy &amp; Security</div>
                </a>
            </div>
        </div>
        <div class="col-4 align-items-stretch d-flex">
            <div id="professionals-blob" class="main-blob flex-fill">
                <a href="/about">
                    <div>Aspiring Professionals</div>
                </a>
            </div>
        </div>
        <div class="col-6">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
            {{ content }}
            </p>
            <p class="my-5"></p>
        </div>
    </div>
</div>